.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 50px;
}

.groups {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  gap: 50px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.groupTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.nameAndPic {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.name  {
  font-size: 1.4rem;
}

.description {
  font-size: 1.1rem;
  flex-grow: 90;
}

.requiredNFT {
  font-size: 0.9rem;
}

.link {
  text-decoration: underline;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}


/* Mobile */
@media (min-width: 700px) {
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
